// Animation pour le remplissage du coeur "heart"
@keyframes fill{
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

@keyframes rotate-center-check{
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }