.header{
    position: relative;
    box-shadow: 0 0 0.5rem rgb(185, 185, 185);
    &__logo{
        font-size: 2.2rem;
        text-align: center;
        font-family: "Shrikhand";
        padding: 10px;
        margin: 0;
    }
}
