body {
  margin: auto;
  font-family: "Roboto", sans-serif;
}
body main {
  margin: auto;
  height: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

@keyframes fill {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes progress {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
@keyframes rotate-center-check {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.appears-opacity {
  animation: opacity 1s both;
}

#case-1 {
  animation-delay: 0.1s;
}

#case-2 {
  animation-delay: 0.2s;
}

#case-3 {
  animation-delay: 0.3s;
}

#case-4 {
  animation-delay: 0.4s;
}

#case-5 {
  animation-delay: 0.5s;
}

#case-6 {
  animation-delay: 0.6s;
}

#case-7 {
  animation-delay: 0.7s;
}

#case-8 {
  animation-delay: 0.8s;
}

#case-9 {
  animation-delay: 0.9s;
}

.btn {
  font-size: 1rem;
  box-shadow: 0px 8px 8px 0px #ebebeb;
  font-weight: 300;
  color: white;
  padding: 16px 24px;
  border-radius: 50px;
  border: none;
  background: linear-gradient(350deg, #9356DC, #FF79DA);
}
.btn:hover {
  cursor: pointer;
  background: linear-gradient(350deg, #a16be0, #ff93e1);
  box-shadow: 0px 0px 4px 2px gray;
}

.icon-heart {
  color: black;
  font-size: 22px;
  height: 22px;
  margin-top: 20px;
  margin-right: 20px;
}
.icon-heart:hover {
  animation: fill 1s ease-out;
  background: linear-gradient(to top, #9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

.btn-fonctionnement {
  box-shadow: 0px 8px 8px 0px #ebebeb;
}
.btn-fonctionnement--num {
  font-size: 0.8rem;
  color: white;
  padding: 6px 10px;
  margin-left: -14px;
  background-color: #9356DC;
  border-radius: 40px;
}
.btn-fonctionnement .fas {
  font-size: 1.5rem;
  color: gray;
  padding: 0 25px;
}
.btn-fonctionnement strong {
  font-size: 1rem;
}
.btn-fonctionnement:hover {
  background-color: #f2eafb;
}
.btn-fonctionnement:hover .fas {
  color: #9356DC;
}

.stick-new {
  display: inline-block;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 80px;
  background-color: #99E2D0;
  color: #008766;
  position: absolute;
  right: 10px;
  top: 15px;
}

.vignette {
  text-align: center;
  margin: 0;
  border-radius: 20px;
  height: auto;
  box-shadow: 0px 8px 8px 0px #ebebeb;
}
.vignette__img {
  height: 190px;
  width: 100%;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
}
.vignette__description {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.vignette .description {
  display: flex;
  flex-direction: column;
  margin: 15px;
}
.vignette .description--title {
  margin: 0 0 5px 0;
}
.vignette .description--city {
  margin: 0;
  text-align: left;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 0;
  margin: 0;
}
.container li {
  list-style-type: none;
  width: 90%;
  border-radius: 20px;
  margin-bottom: 20px;
  background-color: white;
  box-shadow: 0px 0px 15px 5px #ebebeb;
  transition: transform 350ms;
  position: relative;
}
.container li:hover {
  box-shadow: 0px 0px 4px 2px gray;
  transform: scale(1.01);
}

.container-footer__list--link {
  text-decoration: none;
  font-style: initial;
  color: white;
}
.container-footer__list--link:hover {
  color: #FF79DA;
}

.header {
  position: relative;
  display: block;
  box-shadow: 0 2px 5px 0 #b9b9b9;
}
.header__logo {
  font-size: 2rem;
  text-align: center;
  font-family: "Shrikhand", cursive;
  letter-spacing: 1px;
  padding: 10px;
  margin: 0;
}

footer {
  background-color: #323232;
}

.container-footer {
  display: flex;
  flex-direction: column;
  padding: 25px 0 80px 30px;
}
.container-footer--title {
  font-size: 1rem;
  margin-top: 0;
  margin-bottom: 20px;
  font-family: "Shrikhand";
  letter-spacing: 1px;
  color: white;
}
.container-footer__list {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}
.container-footer__list li {
  padding-bottom: 10px;
}
.container-footer__list li .fas {
  width: 20px;
  padding-right: 10px;
}

.top-section__location {
  background-color: #ebebeb;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.top-section__location .fas {
  padding-right: 15px;
  font-size: 1.3rem;
}
.top-section__location p {
  font-size: 1.2rem;
  font-weight: 500;
}
.top-section__reservation {
  background-color: whitesmoke;
  text-align: center;
  padding-bottom: 36px;
}
.top-section__reservation h2 {
  display: inline-block;
  width: 75%;
  padding-top: 50px;
  margin: 0;
  font-size: 1.7rem;
  font-weight: 900;
}
.top-section__reservation p {
  display: inline-block;
  width: 90%;
  font-size: 1.2rem;
}
.top-section__fonction h2 {
  font-size: 1.7rem;
  font-weight: 900;
  margin: 30px 0 30px 20px;
}
.top-section__fonction ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0;
}
.top-section__fonction ul li {
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: left;
  list-style-type: none;
  flex-direction: row;
  background-color: whitesmoke;
  border-radius: 25px;
  height: 80px;
  width: 85%;
  margin-bottom: 30px;
}

.bottom-section {
  background-color: whitesmoke;
  padding: 50px 0;
}
.bottom-section__title {
  font-size: 1.7rem;
  font-weight: 900;
  margin: 30px 0 30px 20px;
}

.body-page {
  width: 100%;
}

.mr-header {
  display: flex;
  align-items: center;
  padding: 20px 25px 10px 25px;
}
.mr-header .link-arrow {
  font-size: 24px;
  height: 26px;
  width: 22px;
}
.mr-header .header__logo {
  margin: auto;
}

.block-img {
  width: 100%;
  margin: 0;
}

.img-restaurant {
  max-height: 300px;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.restaurant {
  margin-top: -60px;
  position: relative;
  border-radius: 30px 30px 0 0;
  background-color: whitesmoke;
}

.corps-menu {
  margin: auto;
  background-color: whitesmoke;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.corps-menu--title {
  margin: 0 0 0 34px;
  font-weight: initial;
  font-size: 1.2rem;
}
.corps-menu--title::after {
  content: "";
  display: block;
  width: 50px;
  height: 3px;
  background-color: #99E2D0;
  animation: progress 2s;
  animation-fill-mode: both;
  transform: scale(0);
}
.corps-menu--list {
  margin: auto;
  padding: 0;
  width: 100%;
}
.corps-menu__plat {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-radius: 20px;
  padding: 0px 0 0px 20px;
  margin: 20px auto 20px auto;
  width: 90%;
  height: 80px;
  box-shadow: 0px 8px 8px 0px #ebebeb;
  overflow: hidden;
  cursor: pointer;
}
.corps-menu__plat .price {
  margin-left: auto;
  margin-right: 20px;
}
.corps-menu__plat .bg-check {
  background: #99E2D0;
  border-radius: 0 20px 20px 0;
  height: 100%;
  width: 70px;
  margin-right: -70px;
  transition: all 0.4s ease-in-out;
}
.corps-menu__plat:hover .bg-check {
  margin-right: 0;
}
.corps-menu__plat:hover .check {
  animation: rotate-center-check 0.5s ease-in-out;
}
.corps-menu__plat .check {
  text-align: center;
  color: white;
  font-size: 26px;
  height: 100%;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.plat {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.plat--title {
  font-size: 1.2rem;
  margin: 0;
  padding-bottom: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.plat--desc {
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

.restaurant-name {
  display: flex;
  justify-content: space-between;
  padding: 0 20px 0 20px;
  align-items: center;
}
.restaurant-name__title {
  font-family: "Shrikhand";
  letter-spacing: 1px;
  font-size: 2rem;
}
.restaurant-name__like {
  margin: 0;
}

.order {
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0 40px 0;
}

/*# sourceMappingURL=style.css.map */
