.body-page{
    width: 100%;
}


.mr-header{
    display: flex;
    align-items: center;
    padding: 20px 25px 10px 25px;
    .link-arrow{
        font-size: 24px;
        height: 26px;
        width: 22px;
    }
    .header__logo{
        margin: auto;
    }
}

.block-img{
    width: 100%;
    margin:0;
}
.img-restaurant{
    max-height: 300px;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.restaurant{
    margin-top: -60px;
    position: relative;
    border-radius: 30px 30px 0 0;
    background-color: $color-sub2;
}
.corps-menu{
    margin: auto;
    background-color: $color-sub2;
    display: flex;
    flex-direction: column;
    &--title{
        margin: 0 0 0 20px;
        font-weight: initial;
        @include text-big;
    }
    &--list{
        margin: auto;
        padding: 0;
        width: 100%;
    }
    &__plat{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: white;
        border-radius: 20px;
        padding: 0px 0 0px 20px;
        margin: 20px 0 20px 0;
        width: 90%;
        height: 80px;
        @include shadow-box;
    }
}
.plat{
    &--title{
        margin: 0;
    }
    &--desc{
        margin: 0;
    }
}
.check{
    text-align: center;
    color: white;
    background-color: $color-tertiary;
    border-radius: 0 20px 20px 0;
    font-size: 26px;
    height: 100%;
    width: 50px;
}

.restaurant-name{
    display: flex;
    justify-content: space-around;
    align-items: center;
    &__title{
        font-family: "Shrikhand";
        letter-spacing: 1px;
        font-size: 2rem;
    }
    &__like{
        margin: 0;
    }
}