.mr-header{
    display: flex;
    align-items: center;
    padding: 20px 25px 10px 25px;
    .link-arrow{
        font-size: 24px;
        height: 26px;
        width: 22px;
    }
    .header__logo{
        margin: auto;
    }
}